:root {
  --font-family: "Lato", sans-serif;
  --primary-color: #af460f;
  --dark-color: #45171d;
  --light-color: #fed39f;
}
h1 {
  font-family: var(--font-family);
  color: var(--primary-color);
}
h2 {
  font-family: var(--font-family);
  color: var(--primary-color);
}
p {
  font-family: var(--font-family);
  color: var(--dark-color);
}
.container {
  background-color: #ffffff;
  border: solid 1pt var(--light-color);
  border-radius: 25px;
  margin-top: 30px;
  padding: 30px 30px 30px 30px;
}
.btn {
  border-radius: 10px;
  border: solid 1pt var(--primary-color);
}
.btn:hover {
  background: var(--primary-color);
  border: solid 1pt var(--light-color);
}
a {
  text-decoration: none;
  color: var(--primary-color);
}
a:hover {
  color: var(--light-color);
}
